@charset "utf-8";

/* 共通部分 */
html {
    font-size: 100%;
}
body {
    background-color: #FFFFFF;
    font-family: "Noto Serif JP";
    line-height: 1.75;
    margin: 0;
    padding: 0;
}
main {
    background-color: #F7F4F0;
}
a {
    text-decoration: none;
}
* {
    box-sizing: border-box;
}
h1 {
    margin: 24px 0;
    padding-top: 16px;
    font-family: Montserrat;
    font-size: 32px;
}
h2 {
    font-size: 20px;
}
p {
    font-size: 16px;
}

/* ヘッダー */
#header-logo {
    text-align: center;
    margin: 24px;
}
#header-photos {
    overflow-x: auto;
    display: flex;
}
.header-img {
    margin: 0 24px;
}

/* コンセプト */
#concept {
    /* ユキノさんのコード */
    color: white;
    text-align: center;
    background-image: url(../img/pic-top-concept-treat.png), url(./images/bg-top-concept.jpg);
    background-position: bottom -20px right -50px, center;
    background-size: 400px, cover;
    background-repeat: no-repeat, no-repeat;
}
#concept h1 {
    padding-top: 60px;
}
#concept-nl {
    display: none;
}
#concept-photos {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}
.concept-img {
    margin: 0 24px;    
}
h2 {
    font-weight: normal;
    margin: 16px 0;
}
#concept-text {
    margin-bottom: 80px;
}

/* プロダクト */
#product {
    text-align: center;
    max-width: 920px;
    margin: 0 auto;
    width: 100%;
}
.product-item {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
h3, .product-text p {
    text-align: left;
}
.product-text a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 300px;
    height: 40px;
    background-color: #504333;
    color: white;
    border-radius: 30px;
}
.product-text {
    margin-left: 24px;
}
.product-text p {
    margin-bottom: 20px;
}
#instagram-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: #504333;
    color: #FFFFFF;
}
#instagram-link a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 300px;
    color: #504333;
    background-color: #FFFFFF;
    border-radius: 30px;
    margin-left: 40px;
}
#instagram-link p {
    margin-right: 150px;
}

/* ショールーム */
#showroom {
    text-align: center;
    background-color: #FFFFFF;
}
#store-info {
    display: flex;
    justify-content: center;
    max-width: 920px;
    margin: 0 auto;
}
.showroom-text p {
    margin-top: 10px;
}
.showroom-text a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px auto;
    width: 300px;
    height: 40px;
    background-color: #504333;
    color: white;
    border-radius: 30px;
}
.store {
    margin: 0 24px;
}

/* フッター */
footer {
    text-align: center;   
}
#online-shop {
    background-image: url(./img/bg-top-online-shop.png);
    background-size: cover;
    height: 300px;
}
#online-shop h1 {
    color: white;
    padding-top: 70px;
}
#online-shop a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px auto;
    width: 300px;
    height: 40px;
    background-color: #504333;
    color: white;
    border-radius: 30px;
    border: 1px solid #FFFFFF;
}
iframe {
    width: 100vw;
}
#footer-logo {
    margin-top: 50px;
    margin-bottom: 30px;
}
#company p:not(#copyright) {
    margin-bottom: 30px;
}
#sns {
    margin-bottom: 50px;
}
#sns a {
    display: inline-block;
    margin-left: 20px;
    color: #504333;
}
iframe {
    vertical-align: bottom;
}
#copyright {
    background-color: #504333;
    height: 60px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 767px) {
    /* ヘッダー */
    .header-img img {
        width: 100vw;
    }
    .header-img {
        margin: 0;
    }
    #header-photos {
        display: block;
        overflow-x: unset;
    }
    #image1, #image2, #image4, #image5 {
        display: none;
    }

    /* コンセプト */
    #concept-text {
        margin: 0 32px 80px 32px;
        font-size: 14px;
    }
    #concept-text br {
        display: none;
    }
    #concept-photos {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 24px;
        margin: 24px;
    }
    .concept-img img {
        max-width: 100%;
    }
    #concept-nl {
        display: inline;
    }
    /* プロダクト */
    .product-item {
        flex-direction: column;
    }
    .product-item img {
        width: 100vw;
    }
    .product-text p, .product-text h3 {
        padding: 0 32px;
    }
    .product-text p {
        font-size: 14px;
    }
    #instagram-link {
        flex-direction: column;
    }
    #instagram-link p {
        margin-right: 0;
        margin-bottom: 20px;
    }
    #instagram-link a {
        margin-left: 0;
    }
    iframe {
        height: 300px;
    }
    /* ショールーム */
    #store-info {
        overflow-x: auto;
        justify-content: flex-start;
    }
    /* フッター */
    #sns a {
        display: block;
        width: fit-content;
        margin: 0 auto;
    }
}